.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-form {
  padding: 20px;
  width: 400px;
}

.login-error {
  text-align: center;
}