.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  @media (min-width: 576px) {
    padding: 0 25px;
  }

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  &__refs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 5px;
    width: 20%;
    
    @media (min-width: 576px) {
      width: 15%;
    }

    @media (min-width: 768px) {
      width: 10%;
    }
    
  }

  &__menu {
    width: 60%;
    z-index: 2;

    @media (min-width: 576px) {
      width: 70%;
    }

    @media (min-width: 768px) {
      width: 80%;
    }
  }

  &__logo {
    width: 20%;

    @media (min-width: 576px) {
      width: 15%;
    }

    @media (min-width: 768px) {
      width: 10%;
    }
  }

  &__img {
    width: 65px;
    height: auto;
    vertical-align: top;
  }
}

.search,
.search_hide {
    position: absolute;
    top: 70px;
    left: calc(50% - 175px);
    width: 350px;
    transform: scale(1);
    z-index: 1;
    transition: all 0.3s;

    @media (min-width: 768px) {
      width: 500px;
    }
}

.search_hide {
  transform: scale(0);
}
