.site-layout {
  padding-top: 60px;

  &__inner {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
    background: 50% 50% no-repeat;
    background-size: cover;
    background-color: #040427;
    //background-color: rgb(13, 13, 70);
  }
}
