.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  flex-grow: 1;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 2px white;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    transition: all 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__rating {
    border-radius: 50%;
    background-color: rgb(8, 6, 36);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__cover {
    position: relative;
    height: 100%;
  }

  &__like {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
  }

  &__alert {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
  }
}

.movie-card .ant-card-meta-description {
  margin-bottom: 15px;
}

.movie-card .ant-card-body {
  padding: 10px 10px 15px;
  min-height: 70px;
}

.movie-card .ant-card-cover {
  height: 100%;
}
