.movies-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: #ffffff;

  &__title {
    color: #ffffff;
    padding: 10px 0;
    margin: 0;
  }
}
