.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.films__item {
  width: 20%;
  padding: 10px;
}